<?php /** @var \app\models\Product $model*/ ?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site</title>
</head>
<body>
<!-- Блок пользователя-->
<p>Привет,</p>

{{ content }}
<br/>
<br/>
<a href="/">На главную</a>
</body>
</html>