<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        Уважаемые клиенты!<br/>
        Обратите внимание, что внешние платежи, отправленные в период с 23.02.2017г, по 26.02.2017г.  будут исполнены 27.02.2017г.
        Внутренние платежи (счет получателя и счет плательщика открыты в Альфа-Банке), которые не требуют ручной обработки сотрудником Банка (валютным контролером или операционистом), с 23.02.2017г, по 26.02.2017г. будут исполняться.
            <br/>Ваш Альфа-Банк.
    </p>
</body>
</html>