<?php /** @var \app\models\Product $model*/ ?>
<body>
<div>
    <h1>Все товары:</h1>

    {% for product in model %}

        <div>
            <a href="/?c=product&a=product&id={{ product.id }}">{{ product.name }}</a><br/>
        </div>

    {% endfor %}

</body>