<?php /** @var \app\models\Product $model*/ ?>
<body>
    <h2>Все товары:</h2>
    {% for product in model %}
        <div class="{{ cycle(['odd', 'even'], i) }}">{{ i }}</div>
        <a href="/?c=product&a=product&id={{ product.id }}">{{ product.name }}</a><br/>
    {% endfor %}
</body>
